{% extends '::layout.html.twig' %}
{% block body %}
    {{ parent() }}
{#    <div class="main container">#}
{#        <div class="row well" style="background-color: white;">#}
        <div style="background-color: green;">
{#            <br>
            <div class="col-md-0" style="background-color: white;">
                <table border="0" width="100%">
                    <tr>
                        <td width="180px"><input style="width: 180px;" type="text" id="userInputLogin" placeholder="Username" />
                        <td width="10px">
                        <td width="180px"><input style="width: 180px;" type="text" id="passwordInputTextLogin" placeholder="Password" />
                        <td width="10px">
                        <td width="56px" align="right">
                            <form class="form-horizontal" method="post" action="{{path('index_logIn')}}">
                                <input type="submit" value="Log in" id="loginInputSubmitLogin">
                            </form>
                        <td width="10px">
                        <td width="125px"><a href="{{ path('index_sigIn') }}">Sig in</a>
                        <td align="center">
                            <text style="color: purple;"><b>{% trans %}jbSB92{% endtrans %}</b></text>
                        </td>
                    </tr>
                </table>
            </div>#}
            <div class="col-md-0" style="background-color: white;">
{#                {{ include('HomeBundle:Home:editCloth.html.twig') }}#}
                {{ include('HomeBundle:Index:addVideo.html.twig') }}
            </div>
        </div>
{#        </div>#}
{#    </div>#}
{% endblock %}