<div id="rightToolBarBackground"
     style="{#background-color: orange;#}
     width: 100%;
     height: 100%;
     opacity: 1;
     transition-property: all;
     transition-duration: 0.5s;">
</div>

{{ include('BeitechBundle:Icon:1_profile.html.twig') }}

{{ include('BeitechBundle:Icon:2_uploadVideo.html.twig') }}

{{ include('BeitechBundle:Icon:3_donateToThisArtist.html.twig') }}

{{ include('BeitechBundle:Icon:4_addToList.html.twig') }}

{{ include('BeitechBundle:Icon:5_marketingAndPublicity.html.twig') }}

{{ include('BeitechBundle:Icon:6_information.html.twig') }}

{{ include('BeitechBundle:Icon:7_comment.html.twig') }}

{{ include('BeitechBundle:Icon:8_newsFeed.html.twig') }}